<!-- Flag images from https://www.gosquared.com/resources/flag-icons -->
<li class="count">
	<img class="flag" src="images/United-Kingdom.png">
	<p><%= @gb_ratio %></p>
	<img class="flag" src="images/Lime.png">
	<p><%= @row_ratio %></p>
</li>
<li class-"count">
	<p>Total Tweets</p>
	<p><%= @gb_count %></p>
	<p><%= @row_count %></p>
</li>
<li class-"count">
	<p>Negative Tweets</p>
	<p><%= @negative_gb_count %></p>
	<p><%= @negative_row_count %></p>
</li>