<!-- Flag image adapted from https://www.gosquared.com/resources/flag-icons -->
<li class="count">
	<p class="ratio uk"><%= @gb_percentage %>%</p>
	<p class="ratio row"><%= @row_percentage %>%</p>
	<p class="label">% of tweets moaning about the weather</p>
</li>
<li class="count">
	<p class="negative uk"><%= @negative_gb_count %></p>
	<p class="negative row"><%= @negative_row_count %></p>
	<p class="label">Tweets moaning about the weather</p>
</li>
<li class="count">
	<p class="weather uk"><%= @weather_gb_count %></p>
	<p class="negative row"><%= @weather_row_count %></p>
	<p class="label">Tweets about the weather</p>
</li>
<li class="count">
	<p class="total uk"><%= @gb_count %></p>
	<p class="total row"><%= @row_count %></p>
	<p class="label">Total Tweets</p>
</li>