<% @tweets.each do |tweet| %>
  <li class="tweet <%= @tweet_class %>" id="<%= tweet.id %>">
    <a href="<%= tweet.user_link %>">
    <!-- in geoJSON the longitude is before latitude -->
      <img class="avatar" 
           src="<%= tweet.profile_image_url %>" 
           onload="dropPin(<%= tweet.coordinates[0][0][1] %>,<%= tweet.coordinates[0][0][0] %>,'<%= tweet.id %>')" />
    </a>
    <p class="text"><%= tweet.text %></p>
    <div class="details">
      <p class="username"><%= tweet.username %></p>
      <p class="place_name"><%= tweet.place_name %>
    </div>
  </li>
<% end %>

<% if !@tweets.empty? %>
  <script type="text/javascript">
    window.latestTweet = <%= @tweets[0].received_at %>;
  </script>
<% end %>